# ignore Python cache and build files
**/__pycache__
**/*.egg-info
**/*.tar.gz
**/*.whl
# ignore shared objects + C/C++ build artifacts
**/*.dll
**/*.exe
**/*.ilk
**/*.pdb
**/*.so
# ignore Dask worker space
dask-worker-space
# ignore VS Code config
.vscode
# ignore CMake build directories
build
build_windows
